version: "3.9"
services:
  app:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/var/www/html
    environment:
        APP_ENV: local
        DB_HOST: db
        DB_PORT: 3306
        DB_DATABASE: laravel
        DB_USERNAME: root
        DB_PASSWORD: root
    depends_on: 
        - db

  db: 
   image: mysql:8
   restart: always
   environment: 
    MYSQL_DATABASE: laravel
    MYSQL_ROOT_PASSWORD: root
   ports:
     - "3306:3306"
   volumes:
     - dbdata:/var/lib/mysql

volumes:
  dbdata: